.bio-pic {
    width: 100%;
    display: block;
    max-width: 500px;
    margin: 2vh auto;
    border-radius: 10px;
}
.big-sig {
    display: block;
    margin: 0 auto;
    padding: 2.5vmin 0;
    width: 80%;
    max-width: 800px;
    min-width: 300px;
}