.platform-item {
    margin: 5vh auto;
    h2 {
        @include fluid-text(20, 26);
        color: #f0f0f0;
        font-weight: 500;
        padding: .5em 0;
        font-family: 'Playfair Display', serif;
        font-family: 'Lexend Mega', sans-serif;
        font-family: 'Spartan', sans-serif;
        &::after {
            content: " - ";
        }
    }
}

.article-item {
    color: #f0f0f0;
    font-weight: 200;
    text-align: right;
}
.article-item a {
    @include fluid-text(14, 18);
    display: inline-block;
    padding: .5em 0;
    margin-bottom: 5px;
    &::after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: #f0f0f0;
        transition: 300ms;
    }
    &:hover::after, &:focus::after {
        width: 100%;
    }
}