header {
    height: 75px;
    display: grid;
    grid-template-columns: 75px 1fr;
    justify-items: center;
    align-items: center;
}

.burger-btn {
    width: 35px;
    height: 35px;
    border: none;
    position: relative;
    background: none;
    span {
        display: block;
        width: 35px;
        height: 4px;
        // background: $highlight-lighter;
        background: $white-0;
        border-radius: 2px;
        transition: .65s;
        position: absolute;
    }
    span:nth-child(1) {
        top: 0;
    }
    span:nth-child(2) {
        width: 25px;
        left: 0;
        top: 16px;
    }
    span:nth-child(3) {
        bottom: 0;
    }
    &:hover span, &:focus span{
        background: $highlight-lighter;
    }
}

.burger-btn-active {
    display: block;
    span:nth-child(1){
        transform: rotate(0.125turn);
        top: 15px;
    }
    span:nth-child(2) {
        left: -100px;
    }
    span:nth-child(3){
        transform: rotate(-0.125turn);
        bottom: 15px;
    }
}

.sig {
    display: inline-block;
    height: 35px;
    width: 40%;
    max-width: 500px;
    min-width: 250px;
}