.main {
    min-height: calc(100vh - 300px);
    padding: 0 20px;
    width: 100%;
    max-width: 1000px;
    margin: 75px auto;
    transition: .5s;
    @media screen and (min-width: 500px) {
        padding: 0 55px;
    }
}