nav {
    background: #262626e0;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100% - 75px);
    transition: 1s;
    z-index: 300;
}

.nav-hidden {
    left: 100%;
}

nav ul {
    min-width: 275px;
    width: 60vw;
    max-width: 600px;
    margin: 5vh auto;
    padding: 10vh 0;
    border-radius: 5px;
}

nav ul li {
    @include fluid-text(17, 24);
    list-style-type: none;
    text-align: center;
    margin: 1.5vh auto;
    letter-spacing: .5vmin;
    text-indent: .5vmin;
    width: 100%;
}

.menu-link {
    transition: .3s;
    text-decoration: none;
    color: inherit;
    color: $white-0;
    margin: 1px;
    &::after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: $white-0;
        transition: .3s;
    }
    &:hover::after, &:focus::after {
        width: 100%;
    }
}
