html,
body {
  padding: 0;
  margin: 0;


  font-family: 'Spartan', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-family: 'Spartan', sans-serif;
  margin: 2vh auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: #202020;
  color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
}
