@import 
    'abstract/variables',
    'abstract/mixins';

@import 
    'pages/index',
    'pages/write';
@import 
    'components/header',
    'components/layout',
    'components/menu',
    'components/footer';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    color: $white-0;
    background-image: linear-gradient( #202020, #303030);
}

* {
    box-sizing: border-box;
    // background: $black-0;
    color: $white-0;
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    @include fluid-text(26, 32);
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    margin: 0 auto 5vmin;
    letter-spacing: .5vmin;
    color: $highlight-lighter;
    background: none;
}

a {
    color: inherit;
    text-decoration: none;
}

