.bio-pic {
  width: 100%;
  display: block;
  max-width: 500px;
  margin: 2vh auto;
  border-radius: 10px;
}

.big-sig {
  display: block;
  margin: 0 auto;
  padding: 2.5vmin 0;
  width: 80%;
  max-width: 800px;
  min-width: 300px;
}

.platform-item h2 {
  color: #f0f0f0;
  font-weight: 500;
  padding: .5em 0;
  font-family: 'Playfair Display', serif;
  font-family: 'Lexend Mega', sans-serif;
  font-family: 'Spartan', sans-serif;
}

.platform-item h2::after {
  content: " - ";
}

.article-item {
  color: #f0f0f0;
  font-weight: 200;
  text-align: right;
}

.article-item a {
  display: inline-block;
  padding: .5em 0;
  margin-bottom: 5px;
}

.article-item a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #f0f0f0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.article-item a:hover::after, .article-item a:focus::after {
  width: 100%;
}

header {
  height: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr;
      grid-template-columns: 75px 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-btn {
  width: 35px;
  height: 35px;
  border: none;
  position: relative;
}

.burger-btn span {
  display: block;
  width: 35px;
  height: 4px;
  background: #e058ff;
  border-radius: 2px;
  -webkit-transition: .65s;
  transition: .65s;
  position: absolute;
}

.burger-btn span:nth-child(1) {
  top: 0;
}

.burger-btn span:nth-child(2) {
  width: 25px;
  left: 0;
  top: 16px;
}

.burger-btn span:nth-child(3) {
  bottom: 0;
}

.burger-btn-active {
  display: block;
}

.burger-btn-active span:nth-child(1) {
  -webkit-transform: rotate(0.125turn);
          transform: rotate(0.125turn);
  top: 15px;
}

.burger-btn-active span:nth-child(2) {
  left: -100px;
}

.burger-btn-active span:nth-child(3) {
  -webkit-transform: rotate(-0.125turn);
          transform: rotate(-0.125turn);
  bottom: 15px;
}

.sig {
  display: inline-block;
  height: 35px;
  width: 40%;
  max-width: 500px;
  min-width: 250px;
}

.main {
  min-height: calc(100vh - 300px);
  padding: 0 20px;
  width: 100%;
  max-width: 1000px;
  margin: 75px auto;
}

nav {
  background: #262626e0;
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  height: calc(100% - 75px);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 300;
}

.nav-hidden {
  left: 100%;
}

nav ul {
  min-width: 275px;
  width: 60vw;
  max-width: 600px;
  margin: 5vh auto;
  padding: 10vh 0;
  border-radius: 5px;
}

nav ul li {
  list-style-type: none;
  text-align: center;
  margin: 1.5vh auto;
  font-size: 3vmin;
  font-size: calc(17px + (24 - 17) * ((100vmin - 320px) / (1200 - 320)));
  letter-spacing: .5vmin;
  text-indent: .5vmin;
  width: 100%;
}

.menu-link {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  color: inherit;
  color: #ffffff;
  margin: 1px;
}

.menu-link::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #ffffff;
  -webkit-box-shadow: 0 0 5px #E98AFF;
          box-shadow: 0 0 5px #E98AFF;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-link:hover::after, .menu-link:focus::after {
  width: 100%;
}

footer {
  height: 75px;
  background: #e058ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer p {
  background: inherit;
  color: #101010;
  font-size: 12px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
  color: #ffffff;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-family: 'Spartan', sans-serif;
  margin: 0 auto 5vmin;
  letter-spacing: .5vmin;
  text-indent: .5vmin;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #202020;
  color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */