@import 
    'abstract/variables';

@import 
    'pages/index',
    'pages/write';
@import 
    'components/header',
    'components/layout',
    'components/menu',
    'components/footer';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    color: #ffffff;
}

h1 {
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    margin: 0 auto 5vmin;
    letter-spacing: .5vmin;
    // text-indent: .5vmin;
    color: $highlight-lighter;
    font-size: calc(26px + (32 - 26) * ((100vmin - 320px) / (1200 - 320)));
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    background: #303030;
    color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
}
